Problem Statement

Analyze the dataset using Pandas to determine : 
1. Total number of fire department fac in NYC
2. Number of fire department fac in each borough
3. Names of fac in Manhattan

In [32]:
import pandas as pd

In [8]:
df_fdny_raw = pd.read_csv(r"D:\Data Thoriq\Ngoding\Data Science Projects\datasets src\FDNY_Firehouse_Listing.csv")

In [9]:
df_fdny_raw.describe

<bound method NDFrame.describe of                                           FacilityName  \
0                                   Engine 4/Ladder 15
1                                             Engine 6
2    Manhattan Borough Command/Battalion 1/Engine 7...
3                                             Ladder 8
4                                    Engine 9/Ladder 6
..                                                 ...
214                               Engine 167/Ladder 87
215                               Engine 164/Ladder 84
216                               Engine 151/Ladder 76
217                                         Engine 168
218                                           Marine 9

              FacilityAddress        Borough  Postcode   Latitude  Longitude  \
0             42 South Street      Manhattan     10005  40.703694 -74.007717
1           49 Beekman Street      Manhattan     10038  40.709971 -74.005395
2            100 Duane Street      Manhattan     10007  40.715339 -74.006300
3          14 N. Moore Street      Manhattan     10013  40.719574 -74.006620
4             75 Canal Street      Manhattan     10002  40.715408 -73.992834
..                        ...            ...       ...        ...        ...
214         345 Annadale Road  Staten Island     10312  40.554191 -74.175479
215  1560 Drumgoole Road West  Staten Island     10312  40.535418 -74.196059
216           7219 Amboy Road  Staten Island     10307  40.512739 -74.238950
217        1100 Rossville Ave  Staten Island     10309  40.553942 -74.213083
218          305 Front Street  Staten Island     10304  40.629954 -74.072430

     Community Board  Community Council   Census Tract      BIN         BBL  \
0                101                   1             7  1000867  1000350001
1                101                   1          1501  1001287  1000930030
2                101                   1            33  1001647  1001500025
3                101                   1            33  1002150  1001890035
4                103                   1            16  1003898  1003000030
..               ...                 ...           ...      ...         ...
214              503                  51         17012  5075428  5056420006
215              503                  51         20804  5083491  5068280065
216              503                  51           248  5089056  5080400010
217              503                  51         20801  5154879  5070670252
218              501                  49            21  5169276  5004870100

                                            NTA
0             Battery Park City-Lower Manhattan
1             Battery Park City-Lower Manhattan
2        SoHo-TriBeCa-Civic Center-Little Italy
3        SoHo-TriBeCa-Civic Center-Little Italy
4                                     Chinatown
..                                          ...
214  Annadale-Huguenot-Prince's Bay-Eltingville
215                           Rossville-Woodrow
216      Charleston-Richmond Valley-Tottenville
217                           Rossville-Woodrow
218                          Stapleton-Rosebank

[219 rows x 12 columns]>

In [10]:
df_fdny_raw.head()

,FacilityName,FacilityAddress,Borough,Postcode,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,Engine 4/Ladder 15,42 South Street,Manhattan,10005,40.703694,-74.007717,101,1,7,1000867,1000350001,Battery Park City-Lower Manhattan
1,Engine 6,49 Beekman Street,Manhattan,10038,40.709971,-74.005395,101,1,1501,1001287,1000930030,Battery Park City-Lower Manhattan
2,Manhattan Borough Command/Battalion 1/Engine 7...,100 Duane Street,Manhattan,10007,40.715339,-74.006300,101,1,33,1001647,1001500025,SoHo-TriBeCa-Civic Center-Little Italy
3,Ladder 8,14 N. Moore Street,Manhattan,10013,40.719574,-74.006620,101,1,33,1002150,1001890035,SoHo-TriBeCa-Civic Center-Little Italy
4,Engine 9/Ladder 6,75 Canal Street,Manhattan,10002,40.715408,-73.992834,103,1,16,1003898,1003000030,Chinatown

In [19]:
df_fdny_analyze = df_fdny_raw[['FacilityName', 'FacilityAddress', 'Borough']]
df_fdny_analyze.head()

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 6,49 Beekman Street,Manhattan
2,Manhattan Borough Command/Battalion 1/Engine 7...,100 Duane Street,Manhattan
3,Ladder 8,14 N. Moore Street,Manhattan
4,Engine 9/Ladder 6,75 Canal Street,Manhattan

In [24]:
df_fdny_analyze.describe()

                              FacilityName     FacilityAddress   Borough
count                                  219                 219       219
unique                                 219                 219         5
top     Battalion 45/Engine 259/Ladder 128  14 N. Moore Street  Brooklyn
freq                                     1                   1        66

In [25]:
df_fdny_analyze.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [26]:
df_fdny_analyze.index

RangeIndex(start=0, stop=219, step=1)

1. Total number of fire depart fac in NYC

In [27]:
df_fdny_analyze.count()

FacilityName       219
FacilityAddress    219
Borough            219
dtype: int64

In [28]:
df_fdny_analyze.dtypes

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

2. Number of fire depart fac in each borough

In [30]:
gb_borough = df_fdny_analyze.groupby('Borough')
gb_borough.size()

Borough
Bronx            34
Brooklyn         66
Manhattan        48
Queens           51
Staten Island    20
dtype: int64

3. Names fac in Manhattan

In [31]:
fdny_info_manhattan = gb_borough.get_group('Manhattan')
fdny_info_manhattan

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 6,49 Beekman Street,Manhattan
2,Manhattan Borough Command/Battalion 1/Engine 7...,100 Duane Street,Manhattan
3,Ladder 8,14 N. Moore Street,Manhattan
4,Engine 9/Ladder 6,75 Canal Street,Manhattan
5,Battalion 4/Engine 15/Ladder 18,25 Pitt Street,Manhattan
6,Engine 28/Ladder 11,222 East 2 Street,Manhattan
7,Engine 5,340 East 14 Street,Manhattan
8,Division 1/Ladder 20,253 Lafayette Street,Manhattan
9,Engine 33/Ladder 9,42 Great Jones Street,Manhattan
10,Battalion 6/Ladder 3,108 East 13 Street,Manhattan
11,Squad 18,132 West 10 Street,Manhattan
12,Engine 34/Ladder 21,440 West 38th Street,Manhattan
13,Engine 26,220 West 37 Street,Manhattan
14,Battalion 7/Engine 3/Ladder 12,150 West 19 Street,Manhattan
15,Engine 1/Ladder 24,142 West 31 Street,Manhattan
16,Engine 14,14 East 18 Street,Manhattan
17,Engine 16/Ladder 7,234 East 29 Street,Manhattan
18,Engine 21,238 East 40 Street,Manhattan
19,Battalion 9/Engine 54/Ladder 4,782 Eighth Avenue,Manhattan
20,Engine 23,215 W 58th Street,Manhattan
21,Engine 40/Ladder 35,131 Amsterdam Avenue,Manhattan
22,Division 3/Ladder 25,207 West 77th Street,Manhattan
23,Engine 74,120 West 83 Street,Manhattan
24,Battalion 8/Engine 8/Ladder 2,165 East 51 Street,Manhattan
25,Engine 44,221 East 75 Street,Manhattan
26,Battalion 10/Engine 22/Ladder 13,159 East 85 Street,Manhattan
27,Engine 58/Ladder 26,1367 Fifth Avenue,Manhattan
28,Engine 53/Ladder 43,1836 Third Avenue,Manhattan
29,Engine 91,242 East 111 Street,Manhattan
30,Battalion 12/Engine 35/Ladder 14,2282 Third Avenue,Manhattan
31,Battalion 11/Engine 76/Ladder 22,145 West 100th St.,Manhattan
32,Engine 47,500 West 113 Street,Manhattan
33,Engine 59/Ladder 30,111 West 133 Street,Manhattan
34,Engine 37/Ladder 40,415 West 125 Street,Manhattan
35,Engine 84/Ladder 34,513 West 161 Street,Manhattan
36,Engine 95/Ladder 36,29 Vermilyea Avenue,Manhattan
37,Engine 55,363 Broome Street,Manhattan
38,Rescue 1,530 West 43 Street,Manhattan
39,Engine 39/Ladder 16,157 E 67th St,Manhattan
40,Battalion 16/Engine 69/Ladder 28,248 West 143 Street,Manhattan
41,Engine 80/Ladder 23,503 West 139 Street,Manhattan
42,Battalion 13/Engine 93/Ladder 45,515 West 181 Street,Manhattan
43,Engine 10/Ladder 10,124 Liberty Street,Manhattan
44,Engine 65,33 West 43 Street,Manhattan
45,Battalion 2/Engine 24/Ladder 5,227 Sixth Avenue,Manhattan
46,Engine 67,518 West 170 Street,Manhattan
47,Marine 1,20 Rear Bloomfield Street,Manhattan